body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.clickable {
  cursor: pointer;
}

.name-in-table {
  text-decoration: underline;
}

td, th {
  padding: 0.5em 1em;
  border: solid 1px grey;
}

button {
  cursor: pointer;
  width: 11em;
}

textarea {
  width: 23em;
  height: 6em;
}

.pd-3 {
  padding: 3em;
}

.gap-1 {
  gap: 1em;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.h-100vh {
  height: 100vh;
}

.h-max {
  height: 100%;
}